/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 30, 2024, 3:37:07 PM
    Author     : sydneyramgoolam
*/
*{
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    color: #555555;
    font-family:verdana, Arial, sans-serif;
}

header{
    background-color: #002171;
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
}
header a{
    text-decoration: none;
    color:#FFFFFF;
}
header a:link{

    color: #FFFFFF;
}
header a:visited{
    color: #FFFFFF;
}
header a:hover{
    color: #FFFFFF;
}
nav {
    font-weight: bold;
    font-size: 105%;
    padding: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
}
nav a:link {
    color: #5c7fa3;
}
nav a:visited {
    color: #344873;
}
nav li {
    border-bottom: 1px solid darkblue;
}
nav a:hover{
    color: #a52a2a;
}
nav ul{
    margin:0;
    padding-left: 0;
    list-style-type: none;
    font-size: 1.2em;
    padding-right: 1em;
}

main{
    background-color: #FFFFFF;
    display: block;
    overflow: auto;
    padding: 1px 20px 20px 30px;
}
main ul{
    list-style-image: url(marker.gif);
}
P{
    color: black;
}
ul{
    color: black;
}

h1{
    margin-bottom: 0px;
    margin-top:0px;
    font-size: 3em;
    font-family: Georgia, Times New Roman, serif;
    letter-spacing: 0.25em;
    padding:0.53m 0;
}

h2 {
    color: #1976D2;
    text-shadow: 1px 1px 1px #CCCCCC;
    font-family: Georgia, Times New Roman, serif;
}

h3 {
    color: #002171;
    font-family: Georgia, "Times New Roman", serif;
}

dt {
    color:#002171;
}

footer {
    background-color: #FFFFFF;
    padding: 2em;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, Times New Roman, serif;
}

.resort {
    color: #1976D2;
    font-weight: bold;
}

#contact {
    color: black;
}

.contact-info {
    font-weight: bold;
    color: #1976D2; /* Set the color for the contact info */
}

#yurt{
    height:400px;
    background-image:url(yurt.jpg);
    background-size:100% 100%;
}

#activities {
    height:400px;
    background-image:url(trail.jpg);
    background-size:100% 100%;
}
#Wrapper {

    margin: auto;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-color: #90C7E3;
}

#homehero{
    height: 300px;
    background-image: url('coast.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#yurthero{
    height: 300px;
    background-image: url('yurt.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero{
    height: 300px;
    background-image: url('trail.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
table{
    border: 2px solid #3399CC;
    border-collapse: collapse;
    border-spacing: 0;
    align-content: center;
}
td, th{
    padding: 0.5em;
    border: 2px solid #3399CC;
}
td{
    text-align: center;
}
.text{
    text-align: left;
}
tr:nth-child(odd)
{
    background-color: #F5FAFC;
}
@media (min-width: 600px){
    nav ul{
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-around;

    }
    nav li{
        border-bottom: none;
    }
    .flow section{
        margin:0 2em;
        flex: 1;
    }
    .flow{
        display: flex;
        flex-direction: row;
    }
    
    table{
        border: 2px solid #3399CC;
        border-collapse: collapse;
        border-spacing: 0;
        align-content: center;
    }
    td, th{
        padding: 0.5em;
        border: 2px solid #3399CC;
    }
    td{
        text-align: center;
    }
    .text{
        text-align: left;
    }
    tr:nth-child(odd)
    {
        background-color: #F5FAFC;
    }
}
@media(min-width:1024px){
    #Wrapper{
        margin:auto;
        width: 80%;
        border: 1px solid #002171;
        box-shadow: 3px 3px 3px #002171;
    }
    nav{
        text-align: left;
        padding-left: 1em;

    }
    @supports(display:grid){
        nav ul{
            flex-direction: column;

        }

        header{
            grid-area: header;
        }
        nav{
            grid-area: nav;
        }
        hero{
            grid-area: hero;
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
        #Wrapper{
            display: grid;
            grid-template: "header header" 100px
                "nav hero" auto
                "nav main" auto
                "nav footer" 50px / 180px 1fr;
        }
    }
    table{
        border: 2px solid #3399CC;
        border-collapse: collapse;
        border-spacing: 0;
        align-content: center;
    }
    td, th{
        padding: 0.5em;
        border: 2px solid #3399CC;
    }
    td{
        text-align: center;
    }
    .text{
        text-align: left;
    }
    tr:nth-child(odd)
    {
        background-color: #F5FAFC;
    }


}

